<body>

<header>
    <h1>City Gallery</h1>
</header>

<nav>
    London<br>
    Paris<br>
    Tokyo<br>
</nav>

<section>
    <h1>London</h1>
    <p>
        London is the capital city of England. It is the most populous city in the United Kingdom,
        with a metropolitan area of over 13 million inhabitants.
    </p>
    <p>
        Standing on the River Thames, London has been a major settlement for two millennia,
        its history going back to its founding by the Romans, who named it Londinium.
    </p>
</section>

<footer>
    Copyright © W3Schools.com
</footer>

</body>